<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.tplink.lxy.service.UserserviceImpl"/>
    <bean id="log" class="com.tplink.lxy.log.Log"/>
    <bean id="afterlog" class="com.tplink.lxy.log.AfterLog"/>

<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.tplink.lxy.service.UserserviceImpl.*(..))"/>-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterlog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->

    <bean id="diy" class="com.tplink.lxy.diy.DiypointCut"/>

<!--    <aop:config>-->
<!--        &lt;!&ndash;自定义切面，ref要引用的类&ndash;&gt;-->
<!--        <aop:aspect ref="diy">-->
<!--            &lt;!&ndash;切入点&ndash;&gt;-->
<!--            <aop:pointcut id="point" expression="execution(* com.tplink.lxy.service.UserserviceImpl.*(..))"/>-->
<!--            &lt;!&ndash;通知&ndash;&gt;-->
<!--            <aop:before method="before" pointcut-ref="point"/>-->
<!--            <aop:after method="after" pointcut-ref="point"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

    <bean id="annopointcut" class="com.tplink.lxy.diy.AnnoPointCut"/>
    <aop:aspectj-autoproxy/>

</beans>